// variables
$dark-font: darkgray;
$dark-link: darkgray;
$dark-link-hover: white;
$light-bg: #e9ecef;
$dark-bg: #6c757d;
$darker-bg: #343a40;

body {
    font-family: 'Spartan', sans-serif;
    p {
        font-size: 1.1rem;
        font-family: 'Hind Siliguri', sans-serif;
    }
}

header {
    a {
        color: $dark-link;
        .btn {
            padding: .5rem 1rem;
            border: 1px solid $dark-bg;
            &:hover {
                color: $dark-link-hover !important;
                border: 1px solid $dark-bg;
            }
        }
        
    }
}

.jumbotron {
    color: white;
    background-image: url(/images/photos/dale-nibbe-6mU7uCAO64I-unsplash-darker.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 3rem;
    }
    a.btn {
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}

section {
    margin-top: 1rem;
}

footer {
    margin-top: 1rem;
    padding: 2rem;
    text-align: center;
    color: $dark-font;
    font-style: italic;
    font-size: .8rem;
    a {
        color: $dark-link;
        &:hover {
            color: $dark-link-hover;
            text-decoration: none;
        }
    }
    li {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    div.footer-item {
        border-width: 1px;
        border-color: $light-bg;
        border-style: solid;
        margin-bottom: 1rem;
    }
    img.footer-logo {
        height: 8rem;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
}

div.anchor{
    display: block; 
    position: relative; 
    top: -5rem; 
    visibility: hidden;
}

span.section-header {
    color: black;
    h1, h2, h3, h4, h5 {
        font-size: 2rem;
    }
}
.sub-section-header {
    font-style: italic;
}

.progress.skill {
    height: 1.5rem;
    margin-bottom: .7rem;
    div.progress-bar {
        background-color: $dark-bg;
        padding-left: 2rem;
        text-align: left;
    }
}

.progress.separator {
    height: .25rem;
    margin-bottom: 2rem;
    div.progress-bar {
        background-color: $darker-bg;
    }
}

.job-block {
    margin-bottom: 1rem;
    padding: 1rem 1rem 0rem 1rem;
    background-color: $light-bg;
    .job-time-frame {
        font-size: .85rem;
        margin-top: .2rem;
        float: right;
    }
    ul {
        margin-right: 1rem;
    }
}

.card {
    margin-bottom: 1.6rem;
}

a.btn {
    margin-bottom: 1rem;
}

img.profile-pic {
    margin-bottom: 2rem;
}

img.header-logo {
    height: 3rem;
}